* {
	color: #000080;
	size: 10px;
	padding: 16px;
	text-align: center;
	margin: 0 auto;
}

h1 {
	color: #4682b4;
	background-color: #b0c4de; 
	width: 800px;
	text-align: center;
}

img {
	width: 300px;
	object-fit: contain;
	border-radius: 10%;
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contents {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-evenly;
	border-radius: 1px solid #4682b4;
}


